.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 90px;
}

.navbar-logo img {
    width: 150px;
}

.navbar .navbar-link-container {
    display: flex;
    gap: 50px;
}

.navbar .navbar-link-container .navbar-link {
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

